
/*---------------------------
CSS GENERAL
---------------------------*/

*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 1px;
}


section{
    padding: 6% 15%;
}


p{
    color: #2e2e31;
}


a{
    text-decoration: none;
    color: #2e2e31;
}



/*---------------------------
CSS TEXTO
---------------------------*/

.text-size-s{
    font-size: 14rem;
}


.text-size-m{
    font-size: 16rem;
}


.text-size-l{
    font-size: 18rem;
}


.title-style{
    color: #2e2e31;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 50rem;
}


.text-hover-primary:hover{
    color: #FF0033;
}


.skill-card:hover .text-hover-primary, .project-card:hover .text-hover-primary{
    color: #FF0033;
}



/*---------------------------
DISPLAY
---------------------------*/

.flex-container{
    display: flex;
}



/*---------------------------
PSEUDO-CLASES 
---------------------------*/

.box-hover-border:hover{
    border: 1px solid #ff0033;
}


.is-focus-primary:focus{
    box-shadow: rgb(255, 0, 51) 0px 1px 8px, rgb(255, 0, 51) 0px 0px 8px;
    outline: none;
}


a:hover .icon-hover{
    color: #ffe5de;
    background-color: #FF0033;
}


.is-focus-footer:focus{
    box-shadow: rgb(254,215,215) 0px 1px 8px, rgb(254,215,215) 0px 0px 8px;
    outline: none;
}



/*---------------------------
BOTONES 
---------------------------*/

.primary-button{
    background-color: #FF0033;
    color: #FFE5DE;
    border-radius: 25px;
    width: fit-content;
}


.primary-button:hover{
    background-color: #9D0B28;
}


.nav-header a[href="#contact"]{
    padding: 10px 30px;
}


.skills-button{
    margin-top: 10%;
    padding: 15px 40px;
}


.send-button{
    padding: 18px 35px;
    text-transform: uppercase;
}



/*---------------------------
CSS NAV Y HEADER 
---------------------------*/

header{
    position: sticky;
    top: 0;
    z-index: 2;
}


header a{
    border-radius: 25px;
    padding: 10px 15px;
}


.nav-header-container{
    justify-content: flex-end;
    min-height: 12vh;
    background-color: #FFE5DE;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}


.nav-header{
    width: 40%;
    justify-content: space-around;
    margin-right: 10%;
}



/*---------------------------
CSS SECCION PRESENTACION 
---------------------------*/

.presentation-container{
    min-height: 70vh;
    background-color: #FFE5DE;
    align-items: center;
    justify-content: space-between;
}


.text-presentation-container{
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
}


.text-presentation-container h2{
    font-size: 32rem;
    font-family: 'DM Sans', sans-serif;
    color: #2e2e31;
}


.text-presentation-container span{
    color: #FF0033;
    font-weight: 700;
    font-size: 65rem;
    font-family: 'Oswald', sans-serif;
}


.portrait{
    width: 35%;
    height: 35%;
    border-radius: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}



/*---------------------------
CSS SECCION CONOCIMIENTOS 
---------------------------*/

.skills-container{
    min-height: 110vh;
    background-color: #fed7d7;
    text-align: center;
}


.skills-text{
    width: 35%;
    padding: 40px 0px 55px 0px;
    margin: auto;
}


.icon-skills-container{
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}


.skill-card{
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    flex-direction: column;
    width: 250px;
    height: 220px;
    margin: 10px 0px;
    justify-content: center;
    background-color: #FFE5DE;
}


.skill-card i{
    font-size: 85em;
}


.fa-html5{
    color: #e54d26;
}


.fa-css3-alt{
    color: #3d8fc6;
}


.fa-sass{
    color: #cc6699;
}


.fa-js{
    color: #f0db4f;
}


.fa-react{
    color: #61dafb;
}


.fa-git-alt{
    color: #f34f29;
}


.skill-card figcaption{
    font-size: 20rem;
    color: #2e2e31;
    font-weight: bold;
    margin-top: 25px;
}



/*---------------------------
CSS SECCION CITA 
---------------------------*/

.quote-container{
    min-height: 55vh;
    background-color: #FF0033;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


.fa-quote-right{
    font-size: 120rem;
    color: #FFE5DE;
}


.quote-container>p{
    font-size: 20rem;
    color: #FFE5DE;
    width: 75%;
}


.quote-container>h3{
    font-size: 30rem;
    color: #FFE5DE;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}



/*---------------------------
CSS SECCION PROYECTOS 
---------------------------*/

.projects-container{
    min-height: 150vh;
    background-color: #FFE5DE;
    text-align: center;
}


.projects-container p{
    width: 45%;
    padding: 40px 0px;
    margin: auto;
}


.projects-cards-container{
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}


.card-container{
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    width: 340px;
    height: 310px;
    margin-top: 20px;
}


.project-card{
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    overflow: hidden;
}


.project-card img{
    width: 70%;
    height: fit-content;
    object-position: center;
    object-fit: cover;
    margin: auto;
}


.project-card>h3{
    font-size: 18rem;
    color: #2e2e31;
    padding-bottom: 15px;
    margin: auto;
}



/*---------------------------
CSS SECCION CONOCIMIENTOS 
---------------------------*/

.contact-container{
    min-height: 120vh;
    background-color: #fed7d7;
}


.contact-box{
    background-color: #ffe5de;
    border: 1px solid #cdcdcd;
    border-radius: 15px;
    padding: 6% 5%;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 750px;
}


.contact-box h2{
    margin-bottom: 8%;
}


.contact-column{
    width: 45%;
    flex-direction: column;
}


.contact-column p{
    width: 80%;
    margin-bottom: 12%;
}


.user-link-container{
    flex-direction: column;
    height: 25%;
    justify-content: space-between;
    margin-left: 2%;
}


.user-link{
    border-radius: 25px;
    padding: 4px 9px;
}


.user-link i{
    font-size: 20rem;
    margin-right: 15px;
    color: #FF0033;
    border-radius: 50%;
    padding: 8px;
}


/* ----------- */


.form-column{
    width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;
}


.contact-form{
    flex-direction: column;
    flex-wrap: wrap;
    height: 75%;
    justify-content: space-between;
    border: 1px solid black;
}


.name-surname-container{
    flex-wrap: wrap;
    justify-content: space-between;
}


.name-surname-container label{
    width: 48%;
}


input, textarea{
    border-radius: 25px;
    border: transparent;
    height: 85%;
    width: 100%;
    margin-top: 10px;
    /* padding-left: 15px; */
}

/* input[placeholder]{
    padding-left: 15px;
} */

/* [placeholder]{     
    padding-left: 15px;
} */


textarea{
    height: 70%;
    padding: 15px;
    resize: none;
}



/*---------------------------
CSS SECCION CONOCIMIENTOS 
---------------------------*/

footer{
    min-height: 45vh;
    background-color: #FF0033;
}


.footer-container{
    width: 40%;
    height: 180px;
    margin: auto;
    flex-direction: column;
    align-items: center;
}


.nav-footer{
    width: 65%;
    justify-content: space-between;
}


.nav-footer a{
    color: #ffe5de;
}


.icons-footer{
    width: 30%;
    margin: auto;
    justify-content: space-between;
}


.icons-footer a{
    border-radius: 50%;
    display: block;    
}


.icons-footer i{
    color: #FF0033;
    background-color: #ffe5de;
    border: 1px solid #ffe5de;
    border-radius: 50%;
    padding: 12px;
    font-size: 20rem;
}


.footer-container p{
    color: #ffe5de;
}



/*---------------------------
CSS SECCION CONOCIMIENTOS 
---------------------------*/

@media (max-width: 1250px) {
    .nav-header-container{
        justify-content: center;
    }

    .nav-header{
        width: 75%;
        margin-right: 0%;
    }

    .icon-skills-container{
        width: 100%;
    }

    .skills-text{
        width: 50%;
    }
}


@media (max-width: 1000px) {
    .quote-container>p{
        width: 95%;
    }
}


@media (max-width: 850px) {
    .nav-header{
        display: none;
    }

    .skills-text{
        width: 80%;
    }
}




/*  - REVISAR MEDIAS QUERYS
    - REVISAR FOCUS Y ACTIVE DE NAVBAR Y projects


    USAR LA PSEUDOCLASE FOCUS PARA LOS projects


    - Los botones tienen active, el resto de las cosas tiene focus ademas de hover (usar outline para sacarle el borde negro).


    /* REVISAR ESTILOS TIPOGRAFIAS */



/*
----------------------
PREGUNTAS
----------------------


1) Cual seria el link que habria que poner en el icono de email?

2) En el form, al ponerle un padding al input para que las letras queden mas a la izquierda, se me agranda el espacio y se corre del borde. Como hago?

*/
