
/* MODO CLARO */

.color1-claro {
    padding: 50px;
    background-color: #FFE5DE;
}


.color2-claro {
    padding: 50px;
    background-color: #FF004D;
}


.color3-claro {
    padding: 50px;
    background-color: #FF0033;
}


.color4-claro {
    padding: 50px;
    background-color: #9D0B28;
}



/* MODO OSCURO */

.color1-oscuro {
    padding: 50px;
    background-color: #33030D;
}


.color2-oscuro {
    padding: 50px;
    background-color: #971F00;
}


.color3-oscuro {
    padding: 50px;
    background-color: #9D0B28;
}


.color4-oscuro {
    padding: 50px;
    background-color: #FFE5DE;
}






